<h1>Albumes</h1>

<app-post />

<ng-container *ngIf="subjectPost$ | async as subject; else noSubject">
  <h3>{{ subject | json}}</h3>
</ng-container>
<ng-template #noSubject>
  <p>2 Loading...</p>
</ng-template>

<button (click)="signOut()"> Cerra Sesion</button>
<hr>

<section class="container__album">
  @for (album of albums; track album.id; let idx = $index) {
    <app-album [album]="album" (delete)="deleteAlbum($event)"></app-album>
  } @empty {
    <li>There are no items.</li>
  }
</section>